 .ItemDetail{
   display: flex;
   justify-content: center;
 }
 
 
 .card-ecommerce-2{
  width:50%;
  margin: 15px;
   padding:15px;
    box-shadow:1px 5px 15px rgba(17,23,21,.16);
    border-radius:6px;
    
  }


  .img-2{
    width: 175px;
  }


  .btn{
    background:gray;
    width:100%;
    margin-top:10px;
    font-family:'Poppins', sans-serif;
    box-shadow:1px 5px 15px rgba(17,23,21,.16);
    padding:7px 0px;
    transition:.5s;
    border:1px solid gray;
  }
  
  .btn:hover{
    background:transparent;
    border:1px solid gray;
    transition:.5s;
    color: black;
  } 
   
 